<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="App.secrets.config">
    <add key="DomainName" value="Your domain name" />
    <add key="ClientId" value="Your client id guid" />
    <add key="RedirectUri" value="Your redirect uri" />
    <add key="SubscriptionId" value="Your subscription id" />
    <add key="ServerName" value="Your SQL Database server name" />
    <add key="DatabaseName" value="Your SQL Database name" />

    <add key="Edition" value="Basic" /><!-- Basic, Standard, Premium -->
    <add key="PerformanceLevel" value="Basic" /><!-- Basic, S0, S1, etc -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>